html{
    height: 100%;
}
body{
    margin: 0;
	padding: 20px;
	display: flex;
    flex: 1 1 auto;
	flex-direction: column;
    min-height: 200vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
}
@media (min-width: 768px){
    .fixed{
        flex: 0 0 100px;
        min-height: 100vh;
        background-color: rgb(212, 32, 32);
    }
    .col .fluid{
        min-height: 100vh;
        background-color: rgb(2, 1, 1);
        display: flex;
        flex-direction: row;
        flex: 1;
        height: 150px;
        
    }
}
.flex-grow{
    flex:1;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    min-height: 200vh;
}

nav{
    background-color: rgb(212, 32, 32);
}
footer{
    background-color: rgb(212, 32, 32);
    text-align: center;
    font-size:x-large;
    height: 100%;
  width: 100%;
  color:black;
}
.nav-link{
    font-size:x-large;
    color: black;
}
.info{
    position: inherit;
    vertical-align: bottom;
    color: black;
}
h2{
    font-weight: bold;
}
#topnav{
    height: 100%;
  width: 100%;
  text-align: center;
  background-color: black;
  padding:35px;

}
h1{
    font-weight: bold;
}
h6{
    font-size: medium;
}
.img2{
    padding: 10px;
  width: 80px;
}
.col-md2{
    color: black;
}
.cp{
    margin-bottom: 50%;
    color:black;
}